body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.App {
  min-height: 100vh;
}
.App.dark {
  color: #fff;
  background-color: black;
}

.App.light {
  color: rgb(0, 0, 0);
  background-color: #fff;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: block;
  border-bottom: 1px solid rgb(129, 129, 129);
}
